@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  height: 100%;
  font-family: 'Lobster', cursive;
}

#root{
  height: 100%;
}

.form-control{
  width: 40%;
}